@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using BlazorBrowserStorage
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Logging
@using RelicMatcher.Shared
@inject NavigationManager NavigationManager
@inject ILoggerProvider LoggerProvider
@inject ISessionStorage sessionStorage
@implements IDisposable
@page "/relic"
<h1>Relic</h1>

@if (RelicQueueStatus == RelicQueueStatus.None || RelicQueueStatus == RelicQueueStatus.Queued)
{
    if (RelicQueueStatus == RelicQueueStatus.Queued)
    {
        <p>Currently queued for relic: @QueuedRelic</p>
    }
    else if (IsConnected == false)
    {
        <p>Disconnected</p>
    }
    else if(RelicQueueStatus == RelicQueueStatus.None)
    {
        <p>Not queued</p>
    }
    <EditForm Model="model" OnValidSubmit="Queue">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputSelect @bind-Value="model.RelicType">
            @foreach (var cnt in Relics)
                {
                <option value="@cnt">@(Enum.GetName(typeof(RelicType), cnt))</option>
                }
        </InputSelect>

        <InputText @bind-Value="model.User" />

        <button type="submit" disabled="@(!IsConnected)">Queue</button>
        @if (RelicQueueStatus == RelicQueueStatus.Queued)
        {
            <button @onclick="DeQueue" disabled="@(!IsConnected)">Stop queueing</button>
        }
    </EditForm>

    <dl id="relicList">
        @foreach (var relic in currentQueue)
        {
            <dt>@relic.User</dt>
            <dd>@relic.RelicType</dd>
        }
    </dl>
}
else if (RelicQueueStatus == RelicQueueStatus.PartyFound)
{
    <h3>Party found!</h3>
    <p>Relic: @CurrentParty.RelicType</p>
    <h4>Members:</h4>
    <ul>
        @foreach (var member in CurrentParty.Members)
        {
            <li>@member.DisplayName: @member.Accepted</li>
        }
    </ul>
    <button @onclick="Accept" disabled="@(!IsConnected)">Accept</button>


}
else if (RelicQueueStatus == RelicQueueStatus.Done)
{
    <h3>Party complete!</h3>
    <p>Relic: @CurrentParty.RelicType</p>
    <h4>Members:</h4>
    <ul>
        @foreach (var member in CurrentParty.Members)
        {
            <li>/inv @member.DisplayName</li>
        }
    </ul>
    <button @onclick="Reset" disabled="@(!IsConnected)">Reset</button>
}


@code {
    private UserRelicQueueState UserRelicQueueState { get; set; } = UserRelicQueueState.DefaultState;
    private RelicQueueStatus RelicQueueStatus => UserRelicQueueState.RelicQueueStatus;
    private RelicType? QueuedRelic => UserRelicQueueState.RelicType;
    private Party? CurrentParty => UserRelicQueueState.Party;
    //private RelicQueueState RelicQueueState { get; set; } = RelicQueueState.None;
    private RelicQueueItem model { get; set; } = new RelicQueueItem();
    private IEnumerable<RelicType> Relics => new List<RelicType> { RelicType.A1, RelicType.A2, RelicType.A3 };

    private HubConnection hubConnection;
    private List<RelicQueueItem> currentQueue = new List<RelicQueueItem>();

    //private Party currentParty;
    //private RelicType queuedRelic { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/relicHub"), opts => {})

            .ConfigureLogging(logging => logging.AddProvider(LoggerProvider))
            .Build();

        var key = "userSession";
        Guid userGuid = Guid.NewGuid();
        try
        {
            userGuid = await sessionStorage.GetItem<Guid>(key);
        }
        catch(ArgumentNullException)
        {
            await sessionStorage.SetItem<Guid>(key, userGuid);
        }

        UserRelicQueueState = UserRelicQueueState.DefaultState;
        

        hubConnection.On<List<RelicQueueItem>>("ReceiveRelicQueue", (relics) =>
        {
            currentQueue = relics;
            StateHasChanged();
        });

        hubConnection.On<UserRelicQueueState>("ReceiveUserState", (userState) =>
        {
            UserRelicQueueState = userState;
            LoggerProvider.CreateLogger("Test").LogInformation(userState.RelicQueueStatus.ToString());
            StateHasChanged();
        });
        Debug.WriteLine("test1");


        await hubConnection.StartAsync();
        await ConnectUser(userGuid);

    }

    Task ConnectUser(Guid sessionUser) =>
        hubConnection.SendAsync("ConnectUser", sessionUser);

    Task Queue() =>
        hubConnection.SendAsync("QueueRelic", model);

    Task DeQueue() =>
        hubConnection.SendAsync("DeQueueRelic");

    Task Accept() =>
        hubConnection.SendAsync("AcceptAssignment");

    Task Reset() =>
        hubConnection.SendAsync("Reset");

    public bool IsConnected =>
        hubConnection.State == HubConnectionState.Connected;

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }

}
